cycler==0.10.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.2
django-debug-toolbar-mongo==0.1.10
django-toolbelt==0.0.1
functools32==3.2.3.post2
gitdb2==2.0.2
GitPython==2.1.5
gunicorn==19.7.1
matplotlib==2.0.2
numpy==1.11.3+mkl
pandas==0.20.2
postgres==2.2.1
psycopg2==2.7.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
smmap2==2.0.3
static3==0.7.0
virtualenv==15.1.0
